body {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-x;
    background-color: rgb(26,40,87);
}

.main {
    width: 900px;
    margin: auto;
}

/*----------------header-----------------*/

header {
    background: url(../images/header_bg.jpg) no-repeat top;
    padding: 23px 0 0 215px;
    height: 150px;
}

/*------------------content--------------------*/

.main_content {
    height: 700px;
    width: 805px;
    margin: auto;
    background: url(../images/container_center_bg.jpg) repeat-y;
}

.center_content {
    height: inherit;
    width: inherit;
    background: url(../images/container_top_bg.jpg) no-repeat;
}

nav::after {
    content: '';
    display: block;
    clear: both;
}

.menu {
    width: 600px;
    margin-left: 250px;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    height: 30px;
    width: 130px;
    background: url(../images/bt.gif) no-repeat;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-style: oblique;
}

.menu li a.active, .menu li a:hover {
    background: url(../images/bt_a.gif) no-repeat;
}

/*------welcome--------*/

.welcome{
    padding: 17px 0 0 50px;
    width: 600px;
}
.title{
    border-bottom: 1px dashed black;
}

.guitar1{
    margin: 5px;
    float: left;
    padding: 5px;
}

.welcome p{
    margin: 10px;
}

/*-------products--------*/

.products{
    padding: 17px 0 0 50px;
    width: 600px;
}

nav::after {
    content: '';
    display: block;
    clear: both;
}

.menu1 {
    width: 600px;
}

.menu1 li {
    float: left;
    margin: 3px;
}

.menu1 li a {
    display: block;
    height: 75px;
    width: 85px;
}

p{
    font-family: arial, sans-serif;
}

/*------new-------*/

.new{
    padding: 17px 0 0 50px;
    width: 600px;
}
.title{
    border-bottom: 1px dashed black;
}

.guitar2{
    margin: 5px;
    float: left;
    padding: 5px;
}

.new p{
    width: 180px;
    margin: 10px;
    float: left;
}

.guitar3{
    margin: 5px;
    float: left;
    padding: 5px;
}

.new p{
    width: 180px;
    margin: 10px;
    float: left;
}

.footer{
    width: 787px;
    margin-left: 47px;
    background: url(../images/footer_bg.jpg) no-repeat;
}

.logo2{
    padding-top: 10px;
    padding-left: 40px;
}



